body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 480px;
	color: #555;
	background-color: #fbfbfb;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: .825rem;
}

.clear {
	clear: both;
}

.img-link, .img-link img {
	text-decoration: none !important;
	border: 0px !important;
	outline: none;
	border-width: 0px;
	outline-width: 0px;
	border-bottom: none;
}

#header {
	padding: 20px 0 15px 0;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	-moz-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#header.stuck {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	opacity: 0.95;
}

#background {
	margin: 40px auto 40px auto;
	background-image: url('images/path5154.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255,255,255,0.1);
	width: 655px;
	height: 668px;
	opacity: 0.05;
}

.color-india-saffron {
	color: #FF9933;
}

.color-india-green {
	color: #138808;
}

.material-icons {
	vertical-align: middle;
}

.material-icons + span {
	vertical-align: middle;
}

.material-icons.md-14 {
	font-size: 14px;
}

.material-icons.md-16 {
	font-size: 16px;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-20 {
	font-size: 20px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}
